// ==============================
// Override Variables
// 覆盖变量
// ==============================
$global-line-height: 1.8rem;

.single .post-meta .author {
    font-size: 1.05rem;
    display: none;
}